@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background: #F4F4F6;
    margin: 0;
    padding: 0;
    font-family: Inter;
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
}

* {
    box-sizing: border-box;
}

.container {
    height: 144px;
    transition: height 0.2s cubic-bezier(0.32, 0.72, 0, 1);
    width: 25rem;
    border-radius: 1rem;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eeeeee;
    box-shadow:
    2.8px 2.8px 2.2px -65px rgba(0, 0, 0, 0.014),
    6.7px 6.7px 5.3px -65px rgba(0, 0, 0, 0.02),
    12.5px 12.5px 10px -65px rgba(0, 0, 0, 0.025),
    22.3px 22.3px 17.9px -65px rgba(0, 0, 0, 0.03),
    41.8px 41.8px 33.4px -65px rgba(0, 0, 0, 0.036),
    100px 100px 80px -65px rgba(0, 0, 0, 0.05)
    ;
    overflow: hidden;
    
    .title {
        /* height: 2.5rem; */
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 1rem;
        color: #3e3e3e;
        font-weight: 500;
        background: #fafafa;
    }

    .input-container {
        width: 100%; 
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;

        
        input {
            width: 100%;
            height: 3rem;
            background: none;
            border-radius: 0.5rem;
            border: 1px solid #eeeeee;
            font-family: Inter;
            font-weight: 500;
            
            &::placeholder {
                font-family: Inter;
                font-weight: 500;
                color: #3e3e3e
            }

            padding-left: 0.75rem;

            &:focus {
                outline: none;
            }

            &.invalid {
                border: 1px solid rgba(214, 21, 21, 0.727);
                animation: shake 0.7s ease;
            }
        }

        button {
            width: 10rem;
            border-radius: 0.50rem;
            background: none;
            font-family: Inter;
            color: #3e3e3e;
            border: 1px solid #eeeeee;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.1s ease;
            text-transform: capitalize;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    .list-container {
        margin-top: 1rem;
        height: 100%;

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin: 0;

            li {
                border: 1px solid #eeeeee;
                border-radius: 0.5rem;
                /* height: 2.5rem; */
                display: flex;
                align-items: center;
                padding-right: 0.5rem;
                padding-left: 0.75rem;
                letter-spacing: -0.02em;
                font-weight: 500;
                justify-content: space-between;
                cursor: pointer;
                transition: all 0.1s ease;
                user-select: none;
                color: #3e3e3e;
                font-size: 14px;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                p {
                    margin: 0;
                    display: inline;
                }
                
                .btn-container {
                    width: max-content;
                    display: flex;
                    gap: 0.25rem;
                    margin-left: 0.5rem;

                    button {
                        background: none;
                        font-family: Inter;
                        color: rgba(255, 255, 255, 0.25);
                        border: 1px solid #eeeeee;
                        padding: 0.45rem 1rem;
                        border-radius: 0.35rem;
                        cursor: pointer;
                        font-weight: 600;
                        transition: all 0.1s ease;
                        color: #3e3e3e;
                        letter-spacing: -0.02em;
                        text-transform: capitalize;
    
                        &:hover {
                            border: 1px solid transparent;
                            color: white;
                        }
    
                        &.edit-btn {
                            &:hover {
                                background-color: #077aff;
                            }
                        }
    
                        &.delete-btn {
                            &:hover {
                                background-color: rgb(237, 53, 53);
                            }
                        }
                    }
                }

                &.completed {
                    background-color: rgba(41, 197, 41, 0.055);

                    p {
                        opacity: 0.75;
                        position: relative;

                        &:after {
                            height: 1px;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            opacity: 0.75;
                            top: 55%;
                            transform: translateY(-55%);
                            content: "";
                            background: #3e3e3e;
                            animation: strikeThrough 0.2s ease;
                        }
                    }
                }
            }
        }
    }
}

dialog {
    width: 20rem;
    overflow: hidden;
    border: 1px solid #eeeeee;
    border-radius: 1rem;
    padding: 0 1rem 0rem 1rem;
    transition-behavior: allow-discrete;
    transition: all 0.5s ease;
    opacity: 0;
    translate: 0 5vh;
    display: none;

    .title {
        /* height: 2.5rem; */
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
        color: #3e3e3e;
        font-weight: 500;
        background: #fafafa;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0;

        input {
            width: 100%;
            height: 3rem;
            background: none;
            border-radius: 0.5rem;
            border: 1px solid #eeeeee;
            font-family: Inter;
            font-weight: 500;
            
            &::placeholder {
                font-family: Inter;
                font-weight: 500;
                color: #3e3e3e
            }
    
            padding-left: 0.75rem;
    
            &:focus {
                outline: none;
            }
    
            &.invalid {
                border: 1px solid rgba(214, 21, 21, 0.727);
                animation: shake 0.7s ease;
            }
        }
    
        .button-container {
            display: flex;
            gap: 0.5rem;
            justify-content: flex-end;
            button {
                background: none;
                font-family: Inter;
                color: rgba(255, 255, 255, 0.25);
                border: 1px solid #eeeeee;
                padding: 0.45rem 1rem;
                border-radius: 0.35rem;
                cursor: pointer;
                font-weight: 600;
                transition: all 0.1s ease;
                color: #3e3e3e;
                letter-spacing: -0.02em;
                text-transform: capitalize;
    
                &:hover {
                    border: 1px solid transparent;
                    color: white;
                }
    
                &#confirm-btn {
                    &:hover {
                        background-color: #077aff;
                    }
                }
    
                &#cancel-btn {
                    &:hover {
                        background-color: black;
                    }
                }
            }
        }
    }

    &::backdrop {
        backdrop-filter: blur(2px);
    }
}

dialog[open] {
        display: block;
        opacity: 1;
        translate: 0 0vh;

        @starting-style {
            opacity: 0;
            translate: 0 5vh;
        }
}

@keyframes shake {
    10%,90% {
        transform: translate3d(-1px,0,0)
    }

    20%,80% {
        transform: translate3d(1px,0,0)
    }

    30%,50%,70% {
        transform: translate3d(-2px,0,0)
    }

    40%,60% {
        transform: translate3d(2px,0,0)
    }
}

@keyframes strikeThrough {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}